<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-rh">
  	<p>Manage the users of your library</p>
  	<ul class="list-group">
    	<li class="list-group-item" ng-repeat="user in users">
        	<strong>{{user.name}}</strong><br>
        	<span class="text-muted">{{user.email}}</span>
        	<a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    	</li>
  	</ul>

  	<div class="row-rh">
    	<div class="col-12">
      		<h3>Books:</h3>
      		<p>Edit the current books in your organizations library</p>
  			<ul class="list-group">
	   	 		<li class="list-group-item" ng-repeat="book in books">
	        		<strong>{{book.name}}</strong>
	        		<br>
	        		<span class="text-muted">added: {{book.dateAdded | date:"mediumDate"}}</span>
	        		<a ng-click="deleteBook(book)" class="trash">
	        			<span class="glyphicon glyphicon-trash pull-right"></span>
	        		</a>
	        		<a href="/book/{{books.indexOf(book)}}" class="info">
	        			<span class="glyphicon glyphicon-info-sign pull-right"></span>
	        		</a>
	    		</li>
 	 		</ul>
      <div class="end">
        <a href="/bookAdd" class="btn" role="button">
              <span class="glyphicon glyphicon-plus"></span>
              Add Book
            </a>
      </div>
    	</div>
  	</div>
</div>