<div class="navbar navbar-default" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="logo-image" ng-click="isCollapsed = !isCollapsed">
      
    </div>
    
    <div class="navbar-header">
      <!-- <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed"> -->
        <span class="sr-only">Toggle navigation</span>
      <!-- </button> -->
      <a href="/" class="navbar-brand">boox</span></a>
    </div>

    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/bookswap')}"><a href="/bookswap">Share</a></li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/adminFulfill')}"><a href="/adminFulfill">Manage Requests</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings">Settings</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>