<div ng-include="'components/navbar/navbar.html'"></div>

  <header class="hero-unit" id="banner">
    <div class="container title-container">
      <h1>welcome to boox!</h1>
      <p class="lead">your online library and book swap</p>
    </div>
  </header>

    <div class="col-md-12">  
      <div class="col-md-5 col-md-offset-1 col-md-push-6">
        <h1 class="page-header">Your Checkouts:</h1>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="book in books | orderBy: 'status' : reverse" ng-hide="{{book.reservedBy !== getCurrentUser().name}}">
            <span tooltip="{{book.status}}">{{book.name}}</span>
            <br>
              <span ng-hide="{{book.status == 'checkedOut'}}" class="text-muted">{{book.status}}</span>
              <span ng-show="{{book.status == 'checkedOut'}}" class="text-muted">Due: {{book.dueDate | date: 'mediumDate'}}</span>
              <a ng-click="reserveBook(book)" class="add" ng-show="{{book.available}}">
                <span class="glyphicon glyphicon-plus pull-right"></span>
              </a>
              <a ng-click="unReserveBook(book)" class="remove" ng-hide="{{book.status == 'checkedOut' }}">
                <span class="glyphicon glyphicon-minus pull-right"></span>
              </a>
              <a href="/book/{{books.indexOf(book)}}" class="info">
                <span class="glyphicon glyphicon-info-sign pull-right"></span>
              </a>
              <span class="close" ng-hide="{{book.reservedBy == getCurrentUser().name || book.reservedBy == 'Available' }}">Unavailable</span>
          </li>
        </ul> 
      </div>

      <div class="col-md-6 col-md-pull-6"><h1 class="page-header">Library Books:</h1>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="book in books | orderBy: 'name' : reverse" ng-hide="{{book.reservedBy == getCurrentUser().name}}">
            <span tooltip="{{book.status}}">{{book.name}}</span>
            <br>
              <span class="text-muted">{{book.genre}}</span>
              <a ng-click="reserveBook(book)" class="add" ng-show="{{book.available}}">
                <span class="glyphicon glyphicon-plus pull-right"></span>
              </a>
              <a ng-click="unReserveBook(book)" class="remove" ng-show="{{book.reservedBy == getCurrentUser().name }}">
                <span class="glyphicon glyphicon-minus pull-right"></span>
              </a>
              <a href="/book/{{books.indexOf(book)}}" class="info">
                <span class="glyphicon glyphicon-info-sign pull-right"></span>
              </a>
              <span class="due" ng-hide="{{book.reservedBy == getCurrentUser().name || book.status == 'Available' || book.status == 'Reserved'}}">Due: {{book.dueDate | date:'mediumDate'}}</span>
              <span class="reserved" ng-show="{{ book.status == 'Reserved' }}">{{book.status}}</span>
          </li>
        </ul> 
      </div>
    </div>

