

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.unknownMain {
    margin-left: 10%; 
    margin-top: 10%;
    width: 75%;
    padding: 10px;
}
.logo-image {
    height: 100px;
    width: 100px;
    background-image: url(../../assets/images/booxmenu.png);
    background-size: cover;

    position:absolute;
    right:10px;
    top:3px;
    width:100px;
    z-index: 100;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    &:hover {
        background-image: url(../../assets/images/booxmenu2.png);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

.boox-link a {
    color: #f5925b;
    &:hover {
        color: darken(#f5925b, 10%);
    }
}

.list-group {
    margin-left: 0;
}

.nav-pills {
    color: #f5925b;
    margin-left: 0;
}

.navbar-default .navbar-brand {
    color: #f5925b;
    &:hover {
        color: darken(#f5925b, 10%);
    }
}

.boox-title {
    color: #f5925b;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    background-image: url("../../assets/images/3004.jpg");
    background-size: cover;
}

.book-list {
    padding: 20px;
}

.book-form {
    margin: 20px 0;
    padding: 10px;
}

.top {
    top: -1115px;
    left: 75px;
}

.tooltip-inner {
    max-width: 500px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.glyphicon {
    margin-right: 10px;
}

.add { 
    color: #1AAF5D;
}

.add:hover {
    color: #305E3B;
}

.remove { 
    color: #EE2B31; 
}

.remove:hover {
    color: #A21D21;
}

.due {
    float: right;
    margin-right: 10px;
}

.reserved {
    float: right;
    margin-right: 10px;
    color:rgb(209, 91, 71);
}

.redirect {
    margin-top: 15px;
    margin-left: 7px;
    a{
    color: #f5925b; 
    }
}