<div ng-include="'components/navbar/navbar.html'"></div>

  <header class="hero-unit" id="banner">
    <div class="container-rh title-container">
      <h1>welcome to <span class="boox-title">boox</span>!</h1>
      <p class="lead">your online library and book swap</p>
    </div>
  </header>

    <div class="container-rh">
      <div class="row-rh">
        
          <div class="col-10 center" ng-hide="isLoggedIn()">
            <div class="unknownMain">
              <h3>What is <span class="boox-title">boox</span>?</h3>
              <p>boox is the new way to manage your ever growing stacks of reading materials.  We have organized all the materials available from your organization and taken care of letting them know what books you are interested in borrowing.  Have a book not listed?  List it in the share area and let boox keep track of who has your book and when they will be bringing it back.  Please either log in or sign in below.</p>
                    
              <p><a href="/login" class="btn" role="button">Log In</a>
              <a href="/signup" class="btn" role="button">Sign Up</a></p>
            </div>
          </div>
          
        
      </div>
      
      <div class="col-12" ng-show="isLoggedIn()">  
        <div class="col-half push-6">
          <h3>Your Checkouts:</h3>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="book in books | orderBy: 'status' : reverse" ng-hide="{{book.reservedBy !== getCurrentUser().name}}">
              <span>{{book.name}}</span>
              <br>
                <span ng-hide="{{book.status == 'checkedOut'}}" class="text-muted">{{book.status}}</span>
                <span ng-show="{{book.status == 'checkedOut'}}" class="text-muted">Due: {{book.dueDate | date: 'mediumDate'}}</span>
                <a ng-click="reserveBook(book)" class="add" ng-show="{{book.available}}">
                  <span class="glyphicon glyphicon-plus pull-right"></span>
                </a>
                <a ng-click="unReserveBook(book)" class="remove" ng-hide="{{book.status == 'checkedOut' }}">
                  <span class="glyphicon glyphicon-minus pull-right"></span>
                </a>
                <a href="/book/{{books.indexOf(book)}}" class="info">
                  <span class="glyphicon glyphicon-info-sign pull-right"></span>
                </a>
                <span class="close" ng-hide="{{book.reservedBy == getCurrentUser().name || book.reservedBy == 'Available' }}">Unavailable</span>
            </li>
          </ul> 
        </div>
      
        <div class="col-half pull-6" ng-show="isLoggedIn()">
          <h3>Library Books:</h3>
          <ul class="nav nav-pills" ng-init="reverse = !reverse">
            <li class="boox-link"><a href="#" ng-click="predicate = 'name'; reverse = !reverse">Title</a></li>
            <li class="boox-link"><a href="#" ng-click="predicate = 'dateAdded'; reverse = !reverse">Newest</a></li>
            <li class="boox-link"><a href="#" ng-click="predicate = 'status'; reverse = !reverse">Status</a></li>
            <li class="boox-link"><a href="#" ng-click="predicate = 'genre'; reverse = !reverse">Category</a></li>
          </ul>
          <br>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="book in books | orderBy: predicate :reverse" ng-hide="{{book.reservedBy == getCurrentUser().name}}">
              <span>{{book.name}}</span>
              <br>
                <span class="text-muted">{{book.genre}}</span>
                <a ng-click="reserveBook(book)" class="add" ng-show="{{book.available}}">
                  <span class="glyphicon glyphicon-plus pull-right"></span>
                </a>
                <a ng-click="unReserveBook(book)" class="remove" ng-show="{{book.reservedBy == getCurrentUser().name }}">
                  <span class="glyphicon glyphicon-minus pull-right"></span>
                </a>
                <a href="/book/{{books.indexOf(book)}}" class="info">
                  <span class="glyphicon glyphicon-info-sign pull-right"></span>
                </a>
                <span class="due" ng-hide="{{book.reservedBy == getCurrentUser().name || book.status == 'Available' || book.status == 'Reserved'}}">Due: {{book.dueDate | date:'mediumDate'}}</span>
                <span class="reserved" ng-show="{{ book.status == 'Reserved' }}">{{book.status}}</span>
            </li>
          </ul> 
        </div>
      </div>
    </div>

