#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.unknownMain {
    @extend .jumbotron;
    margin-left: 10%; 
    margin-top: 10%;
    width: 100%;
    background-color: #D8CAA8;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    background-image: url("../../assets/images/3004.jpg");
    background-size: cover;
}

.book-list {
    padding: 20px;
}

.book-form {
    margin: 20px 0;
    padding: 10px;
}

.top {
    top: -1115px;
    left: 75px;
}

.tooltip-inner {
    max-width: 500px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.glyphicon {
    margin-right: 10px;
}

.add { 
    color: #1AAF5D;
}

.add:hover {
    color: #305E3B;
}

.remove { 
    color: #EE2B31; 
}

.remove:hover {
    color: #A21D21;
}

.due {
    float: right;
    margin-right: 10px;
}

.reserved {
    float: right;
    margin-right: 10px;
    color:rgb(209, 91, 71);
}

.redirect {
    margin-top: 15px;
    margin-left: 7px;
}