<div ng-include="'components/navbar/navbar.html'"></div>


	<div class="container-rh">
		<div class="row-rh">
		      <div class="col-12">
		      <form class="list-group">
          <h4>Edit your books here:</h4>
          <br>
          <label for="">Book Title</label>
          <input type="text" class="form-control list-group-item" ng-model="book.name">
          <br>
          <label for="">Book Author</label>
          <input type="text" class="form-control list-group-item" ng-model="book.author">
          <br>
          <label for="">Book Info</label>
          <input type="text" class="form-control list-group-item" ng-model="book.info">
          <br>
          <label for="">Book Published Date</label>
          <input type="date" class="form-control list-group-itme" ng-model="book.publishedDate">
          <br>
          <label for="">Book Subject</label>
          <input type="text" class="form-control list-group-item" ng-model="book.genre">
          <br>
            <div class="end">
                          <button type="submit" class="btn" ng-click="updateBook(book)">Submit</button>
            </div>
        </form>
		      </div>
		</div>
	</div>