<div ng-include="'components/navbar/navbar.html'"></div>

  <header class="hero-unit" id="banner">
    <div class="container title-container">
      <h1>welcome to boox!</h1>
      <p class="lead">your online library and book swap</p>
    </div>
  </header>

<div class="col-md-12" ng-show="isLoggedIn()">  
      <div class="col-md-5 col-md-offset-1 col-md-push-6">
        <h1 class="page-header">Your books to swap:</h1>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="book in swapBooks | filter: { owner : getCurrentUser().name }">
            <span>{{book.name}}</span>
            <br>
              <span class="text-muted">{{book.status}}</span>
              <a ng-click="deleteSwapBook(book)" class="remove">
                <span class="glyphicon glyphicon-minus pull-right"></span>
              </a>
              <a href="/bookswap/{{swapBooks.indexOf(book)}}" class="info">
                <span class="glyphicon glyphicon-info-sign pull-right"></span>
              </a>
          </li>
        </ul> 
          <a href="/bookswapAdd" class="btn btn-success" role="button">
            <span class="glyphicon glyphicon-plus"></span>
            Add Book
          </a>
      </div>

      <div class="col-md-6 col-md-pull-6" ng-show="isLoggedIn()"><h1 class="page-header">Available for swapping:</h1>
        <ul class="nav nav-pills" ng-init="reverse = !reverse">
          <li><a href="" ng-click="predicate = 'name'; reverse = !reverse">Title</a></li>
          <li><a href="" ng-click="predicate = 'dateAdded'; reverse = !reverse">Newest</a></li>
          <li><a href="" ng-click="predicate = 'status'; reverse = !reverse">Status</a></li>
        </ul>
        <br>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="book in swapBooks | orderBy: predicate :reverse | filter : { owner : '!' +getCurrentUser().name }" >
            <span tooltip="{{book.status}}">{{book.name}}</span>
            <br>
              <span class="text-muted">{{book.genre}}</span>
              <a ng-click="swapABook(book)" class="add" ng-show="{{book.available}}">
                <span class="glyphicon glyphicon-plus pull-right"></span>
              </a>
              <a ng-click="unSwapBook(book)" class="remove" ng-hide="{{book.status == 'checkedOut' }}">
                <span class="glyphicon glyphicon-minus pull-right"></span>
              </a>
              <a href="/bookswap/{{swapBooks.indexOf(book)}}" class="info">
                <span class="glyphicon glyphicon-info-sign pull-right"></span>
              </a>
              <span class="due" ng-hide="{{book.reservedBy == getCurrentUser().name || book.status == 'Available' || book.status == 'Reserved'}}">Due: {{book.dueDate | date:'mediumDate'}}</span>
              <span class="reserved" ng-show="{{ book.status == 'Reserved' }}">{{book.status}}</span>
          </li>
        </ul> 
      </div>
    </div>
