<div ng-include="'components/navbar/navbar.html'"></div>


	<div class="container-rh">
		<div class="row-rh">
		      <div class="col-12 col-12">
		      
		      <form class="list-group">
          <h3>Edit your shared book here:</h3>
          <br>
          <label for="">Book Title</label>
          <input type="text" class="form-control list-group-item" ng-model="thisBook.name">
		  <br>
          <label for="">Book Author</label>
          <input type="text" class="form-control list-group-item" ng-model="thisBook.author">
          <br>
          <label for="">Book Info</label>
          <input type="text" class="form-control list-group-item" ng-model="thisBook.info">
          <br>
          <label for="">Book Published Date</label>
          <input type="date" class="form-control list-group-itme" ng-model="thisBook.publishedDate">
          <br>
          <label for="">Book Category</label>
          <input type="text" class="form-control list-group-item" ng-model="thisBook.genre">
          <br>
				  <p class="end">
		    		<button type="submit" class="btn btn-primary" ng-click="updateSwapBook(thisBook)">
		    			Submit
		    		</button>
				  </p>
        </form>
		      </div>
		</div>
	</div>